<form [formGroup]="invoiceForm" (ngSubmit)="HandleSubmit()" class="container mt-4"
  style="width: 60%; margin-inline: auto;">
  <h1>Invoice</h1>
  <div class="mb-3">
    <input type="text"
      [ngClass]="{'is-invalid': invoiceForm.get('owner_name')?.invalid && invoiceForm.get('owner_name')?.touched}"
      class="form-control" placeholder="Your Name/Business Name" formControlName="owner_name">
    <div *ngIf="invoiceForm.get('owner_name')?.hasError('required') && invoiceForm.get('owner_name')?.touched"
      class="text-danger">
      Your name or business name is required.
    </div>
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Your Address" formControlName="owner_address"
      [ngClass]="{'is-invalid': invoiceForm.get('owner_address')?.invalid && invoiceForm.get('owner_address')?.touched}">
    <div *ngIf="invoiceForm.get('owner_address')?.hasError('required') && invoiceForm.get('owner_address')?.touched"
      class="text-danger">
      Your address is required.
    </div>
  </div>
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Your Phone number" formControlName="owner_phone"
      [ngClass]="{'is-invalid': invoiceForm.get('owner_phone')?.invalid && invoiceForm.get('owner_phone')?.touched}">
    <div *ngIf="invoiceForm.get('owner_phone')?.hasError('required') && invoiceForm.get('owner_phone')?.touched"
      class="text-danger">
      Your Phone number is required.
    </div>
  </div>
  <div class="mb-3">
    <input type="email" class="form-control" placeholder="Your Email" formControlName="owner_email"
      [ngClass]="{'is-invalid': invoiceForm.get('owner_email')?.invalid && invoiceForm.get('owner_email')?.touched}">
    <div *ngIf="invoiceForm.get('owner_email')?.hasError('required') && invoiceForm.get('owner_email')?.touched"
      class="text-danger">
      Your Email is required.
    </div>
  </div>

  <div class="mb-3">
    <h2>Bill to:</h2>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Buyer Name/Business Name" formControlName="buyer_name"
            [ngClass]="{'is-invalid': invoiceForm.get('buyer_name')?.invalid && invoiceForm.get('buyer_name')?.touched}">
          <div *ngIf="invoiceForm.get('buyer_name')?.hasError('required') && invoiceForm.get('buyer_name')?.touched"
            class="text-danger">
            Buyer name is required.
          </div>
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Buyer address" formControlName="buyer_address"
            [ngClass]="{'is-invalid': invoiceForm.get('buyer_address')?.invalid && invoiceForm.get('buyer_address')?.touched}">
          <div
            *ngIf="invoiceForm.get('buyer_address')?.hasError('required') && invoiceForm.get('buyer_address')?.touched"
            class="text-danger">
            Buyer address is required.
          </div>
        </div>
        <div class="mb-3">
          <input type="number" class="form-control" placeholder="Phone number" formControlName="buyer_phone"
            [ngClass]="{'is-invalid': invoiceForm.get('buyer_phone')?.invalid && invoiceForm.get('buyer_phone')?.touched}">
          <div *ngIf="invoiceForm.get('buyer_phone')?.hasError('required') && invoiceForm.get('buyer_phone')?.touched"
            class="text-danger">
            Buyer phone number is required.
          </div>
        </div>
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Buyer email" formControlName="buyer_email"
            [ngClass]="{'is-invalid': invoiceForm.get('buyer_email')?.invalid && invoiceForm.get('buyer_email')?.touched}">
          <div *ngIf="invoiceForm.get('buyer_email')?.hasError('required') && invoiceForm.get('buyer_email')?.touched"
            class="text-danger">
            Buyer email is required.
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <input type="number" class="form-control" placeholder="Invoice number" formControlName="invoice_number"
            [ngClass]="{'is-invalid': invoiceForm.get('invoice_number')?.invalid && invoiceForm.get('invoice_number')?.touched}">
          <div
            *ngIf="invoiceForm.get('invoice_number')?.hasError('required') && invoiceForm.get('invoice_number')?.touched"
            class="text-danger">
            Invoice number is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="">Invoice date</label>
          <input type="date" class="form-control" placeholder="" formControlName="invoice_date"
            [ngClass]="{'is-invalid': invoiceForm.get('invoice_date')?.invalid && invoiceForm.get('invoice_date')?.touched}">
            <div
            *ngIf="invoiceForm.get('invoice_date')?.hasError('required') && invoiceForm.get('invoice_date')?.touched"
            class="text-danger">
            Invoice date is required.
          </div>
          </div>
        <div class="mb-3">
          <label for="">Payment due</label>
          <input type="date" class="form-control" placeholder="" formControlName="payment_due"
            [ngClass]="{'is-invalid': invoiceForm.get('payment_due')?.invalid && invoiceForm.get('payment_due')?.touched}">
            <div
            *ngIf="invoiceForm.get('payment_due')?.hasError('required') && invoiceForm.get('payment_due')?.touched"
            class="text-danger">
            Payment due date is required.
          </div>
          </div>
      </div>
    </div>
  </div>

  <div>
    <table class="table" formArrayName="items">
      <thead style="background-color: darkblue;color: #fff;">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price per unit</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items.controls; let i = index">
          <tr [formGroupName]="i">
            <td>
              <input type="text" class="form-control" placeholder="Item" formControlName="item">
              <div *ngIf="item.get('item')?.hasError('required') && item.get('item')?.touched" class="text-danger">
                Item is required.
              </div>
            </td>
            <td>
              <input type="number" class="form-control" placeholder="Quantity" formControlName="quantity">
              <div *ngIf="item.get('quantity')?.hasError('required') && item.get('quantity')?.touched" class="text-danger">
                Quantity is required.
              </div>
            </td>
            <td>
              <input type="number" class="form-control" placeholder="Price" formControlName="price">
              <div *ngIf="item.get('price')?.hasError('required') && item.get('price')?.touched" class="text-danger">
                Price is required.
              </div>
            </td>
            <td>
              <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
              <div *ngIf="item.get('amount')?.hasError('required') && item.get('amount')?.touched" class="text-danger">
                Amount is required.
              </div>
            </td>
          </tr>
        </ng-container>

        <tr>
          <button type="button" class="btn btn-warning mt-3" style="background-color: orange; color: #fff;"
            (click)="AddItem()">Add Item</button>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <h4>Subtotal</h4>
          </td>
          <td>
            $ 0.00
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <strong>Tax 0.00%</strong>
          </td>
          <td>
            <strong>$ 0.00</strong>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <strong>Fees/discounts</strong>
          </td>
          <td>
            <strong>$ 0.00</strong>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <strong>TOTAL</strong>
          </td>
          <td>
            <strong>$ 0.00</strong>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <button type="submit" class="btn btn-warning mb-4">Submit</button>
</form>
